# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
.env
venv/
.env.*

# Node
node_modules/
dist/
npm-debug.log*

# Vite
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# PostgreSQL
*.sql

# Misc
coverage/
